body{
    background-color: rgb(206, 241, 140);
}
thead{
    background-color: rgba(255, 219, 16, 0.795);
    text-align: left;
}
tbody{
    background-color: white;
}
table,tr{
    width: 800px;
    height: 50px;
}
table{
    margin-left: 338px ;
    margin-top: 177px ;
    font-family: sans-serif;
}
td,th{
    padding-left: 10px;
}
h5{
    color: white;
    font-size: 28px;
    margin-left: 625px;
    font-family: sans-serif;
}

