body{
    background-image: linear-gradient(rgba(162, 0, 255, 0.877), rgb(0, 195, 255));
    background-repeat: no-repeat;
    height: 635px;
}

form{
    background-color:  rgb(8, 8, 131);
    height: 550px;
    width: 540px;
    color: white;
    border-radius: 20px;
    margin-top: 80px;
    margin-left: 450px;
}
input[type="checkbox"]{
    float: left;
    margin-left: 25px;
}
div{
    padding-bottom: 10px;
    padding-top: 10px;
    
}
input[type="text"], input[type="password"]{
    width: 489px;
    height: 30px;
    border-radius: 8px;
    border: none;
    margin-left: 25px;
}
h2{
    text-align: center;
    background-color: rgb(2, 2, 87);
    padding-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 20px;
    font-family: sans-serif;
}
::placeholder{
    padding-left: 25px;
}
input[type="submit"]{
    margin-left: 329px;
    margin-top: 21px;
    height: 42px;
    width: 174px;
    background-color: rgb(110, 194, 25);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 12px;

}
.c{
    margin-top: 15px;
}
.d{
    color: gray;
}
