body{
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}
.main{
    margin-top: 104px;
    margin-left: 530px;
    width: 457px;
}
form{
    width: 375px;
    height: 416px;
    border: 1px solid #dadce0;
    border-radius: 8px;
    padding: 48px 40px 36px;
}

.inside{
    width: 375px;
    height: 400px;
}
.image{
    width: 375px;
    height: 24px;
    text-align: center;
}
.image img{
    width: 75px;
    height: 24px;
    text-align: center;
}

#sign{
    margin: 0px;
    color: #202124;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding-top: 16px;
    text-align: center;
}
#con{
    margin: 0px;
    color: #202124;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1px;
    padding-top: 15px;
    text-align: center;
}
input[type="text"]{
    width: 368px;
    height: 55px;
    border: 1px solid #dadce0;
    border-radius: 5px;
    outline: none;
}
input[type="text"]:hover{
    border: 2px solid #1a73e8;
}
.inp{
    padding-top: 32px;
}
::placeholder{
    font-size: 16px;
    padding-left: 16px;
}
.forgot{
    padding-bottom: 3px;
    padding-top: 9px;
}
.forgot button{
    outline: none;
    border-radius: 4px;
    color: #1a73e8;
    background-color: transparent;
    padding-left: 0px;
    border: 0;
    cursor: pointer;
    font-size: inherit;
    text-align: left;
    font-weight: 600;
}
.comment{
    color: #5f6368;
    font-size: 14px;
    line-height: 1.4286;
    margin-top: 32px;
    padding-bottom: 3px;
    padding-top: 9px;
}
.comment a{
    color: #1a73e8;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}
.cands{
    margin-top: 32px;
    min-height: 48px;
    padding-bottom: 20px;
}
.create{
    float: left;
}
.submit{
    float: right;
}
input[type="Submit"]{
    width: 88px;
    height: 36px;
    color: white;
    font-weight: 550;
    background-color: #1a73e8;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}
input[type="Submit"]:hover{
    background-color: #1a73e8ea;
}
.create button{
    padding-top: 9px;
    outline: none;
    color: #1a73e8;
    background-color: transparent;
    padding-left: 0px;
    border: 0;
    cursor: pointer;
    font-size: inherit;
    text-align: left;
    font-weight: 550;
}
footer{
    height: 16.8px;
    padding: 24px 0 0;
    position: absolute;
}
.right{
    display: inline-block;
    margin-left: 125px ;
}
.right button a{
    text-decoration: none;
    color: #5f6368c7;
    font-weight: 600;
}
.right button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

